<ul class="list-group">
  <% @stops.each do |id, name| %>
    <li class="list-group-item">
      <%= link_to name.split("@").last.strip, controller: 'stops', action: 'show', id: id %>
    </li>
  <% end %>
</ul>
