<div class="container">
  <div class="page-header">
    <h1>Routes</h1>
  </div>

  <div class="list-group">
    <% @routes.each do |route| %>
      <div class="list-group-item">
        <%= route.name %>
      </div>
    <% end %>
  </div>
</div>
